@model TrabalhoIS2.Models.Docente

@{
ViewBag.Title = "FichaDocente";
}


<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ficha Docente</title>
</head>

<body>
    <div class="body-content">
        <h2>Ficha do Docente</h2>
        <br />
        <h3>Dados pessoais</h3>

        <form id="editarFicha">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nome</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="Nome" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                </div>
                <input type="text" class="form-control" placeholder=@User.Identity.Name aria-label="Email"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Instituto</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="Instituto" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Categoria</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="Categoria" aria-describedby="basic-addon1">
            </div>

            <br />
            <h3>Graus</h3>
            
            <form id="addGrau">
                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Ano</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="Ano" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Titulo</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="Titulo" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Area</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="Categoria" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Instituição</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="Instituicao" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Classificação</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="Classificacao" aria-describedby="basic-addon1">
            </div>
            </form>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Grau</span>
                </div>
                <select>
                    <option value="Licenciatura">Licenciatura</option>
                    <option value="Mestrado">Mestrado</option>
                    <option value="Doutoramento">Doutoramento</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">ExperienciaProfissional</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <br />
            <h3>Disciplinas</h3>

            <form id="addDisciplina">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Ano Letivo</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="Ano Letivo" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Semestre</span>
                    </div>
                    <input type="number" class="form-control" placeholder="" aria-label="Semestre" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Unidade Curricular</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="Unidade Curricular"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Ciclo de Estudos</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="Ciclo de Estudos"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Tipo</span>
                    </div>
                    <select>
                        <option value="Teorico">Ensino Teórico</option>
                        <option value="TeoricoPratico">Ensino Teórico-Prático</option>
                        <option value="PraticoLaboratorial">Ensino Prático e Laboratorial</option>
                        <option value="TrabalhoCampo">Trabalho de Campo</option>
                        <option value="Seminario">Seminário</option>
                        <option value="Estagio">Estágio</option>
                        <option value="OrientacaoTutorial">Orientação Tutorial</option>
                        <option value="Outro">Outro</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Total de Horas</span>
                    </div>
                    <input type="number" class="form-control" placeholder="" aria-label="Ciclo de Estudos"
                        aria-describedby="basic-addon1">
                </div>
            </form>

            <br />
            <h3>Registos</h3>

            <form id="addRegistos">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Centro de Investigação</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="Centro de Investigacao"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Unidade de Investigação</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="Unidade de Investigacao"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Classificação</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="Classificacao"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Instituição</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="Instituicao"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Percentagem de Tempo</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="Percentagem de Tempo"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Observações</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="Observacoes"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Data de Inicio</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="Data de Inicio"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Data de Fim</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="Data de Fim"
                        aria-describedby="basic-addon1">
                </div>
            </form>
        </form>
        <!-- falta atividade -->
    </div>
</body>

</html>