@model TrabalhoIS2.Models.Docente

@{
    ViewBag.Title = "FichaDocente";
}

<!-- USAR ESTA VIEW COMO PÁGINA PRA EXIBIR A FICHA DO DOCENTE-->

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ficha Docente</title>

</head>

<body>

    <div class="body-content">
        <h2>Ficha do Docente</h2>
        <br/>
        <h3>Dados pessoais</h3>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Nome</span>
            </div>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
        </div>


    </div>
</body>

</html>






